/* CSS Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*==============================

Universal Styling 

=============================*/

.container {
    width: 100%;

}

main {
    display: block;
}

html,body{
    overflow-x: hidden;
}

h1 {
    font-family: proxima-nova, sans-serif;
    font-weight: 600;
    font-style: normal;
    padding: 10px;
    font-size: 1.5em;
}

h2 {
    font-family: proxima-nova, sans-serif;
    font-weight: 500;
    font-style: normal;
}

h3 {
    font-family: proxima-nova, sans-serif;
    font-weight: 400;
    font-style: normal;
}

p, figcaption {
    padding: 10px;
    font-size: 1.125em;
    line-height: 1.2;
    font-family: franklin-gothic-compressed, sans-serif;
    font-weight: 400;
    font-style: normal;
}


/*=================================

Header Styling

===============================*/

header {
    background: #000000;
    opacity: 87%;
    width: 100%;
    height: 100px;
    display:flex;
    
}

.logo img{
    width: 50%;

}

header nav {
    width: 100%;
    text-align: center;
    vertical-align: top;
    position: relative;
   
}


/*=========================

Hamburger Navigation

=========================*/

#hamitems {
    position: sticky;
    top:0;
    width: 100%;
}

#navright {
    float: right;
    width: 40%;
    vertical-align: top;
    text-align: right;
    font-size: 1em;
}

#navright label {
    display: inline-block;
    color: #ffffff;
    font-size: 3em;
    padding: .5em;
}

#hamitems a{
    display:block;
    text-decoration:none;
    color: #ffffff;
    padding: .25em;
}

#hamitems {
    display: none;
}

#navright input:checked ~ #hamitems {
    display: block;
}

#hamburger {
    display: none;
}

/*================================

Hero Styling

================================*/

img .hero {
    width: 100%;
    background-size: cover;
    position: relative;
}

.hero img[alt="spinning pottery"] {
    display: none;
}

.responsive {
    width: 100%;
    height: auto;
  }

.hero button {
    position: absolute;
    top: 65%;
    left: 40%;
    width: 40%;
    padding: .5em 0;
    border-radius: .5em;
}

.hero button a{
    text-decoration: none;
    color:#000000;
    font-family: proxima-nova, sans-serif;
    font-weight: 300;
    font-style: normal;
}

/*================================

Body Styling and Footer Styling

=================================*/

.new-membership {
    background-color: #E0E7E4;
}


/*==============================

Footer Styling

==============================*/

footer {
    background:#000000;
    opacity: 82%;
    padding: 80px;
    width: 100%;
    overflow: hidden;
}

footer p {
    color: white;
    font-size: .75em;
    
}

/*=============================

About Us Styling

==============================*/


.about h2 {
    padding: .5em;
    font-size: 1.25em;
}

.about h3 {
    padding: .5em;
    font-size: 1.125em;

}

.about h1 {
    font-family: proxima-nova, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2em;
    text-align: left;
}


/*===============================


Membership Styling

===============================*/

.membership img {
    border-radius: 50%;
}

.membership button {
    width: 50%;
    padding: 0.5em 0;
    margin: 1.75em;
    border-radius: 0.5em;
}

.membership p {
    font-size: 1.125em;
    padding: 1.5em;
}

/*===========================

    Shop styling

============================*/

.rslides img {
    border-radius: 50%;
}

.rslides button {
    width: 50%;
    padding: 0.5em 0;
    margin: 1.75em;
    border-radius: 0.5em;
}

.rslides p {
    font-size: 1.125em;
    padding: 1.5em;
    text-align: center;
}

/*===========================

    Jquery Plugin styling

============================*/



.rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
    }
  
  .rslides li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 0;
    }
  
  .rslides li:first-child {
    position: relative;
    display: block;
    float: left;
    }
  
  .rslides img {
    display: block;
    height: auto;
    float: left;
    width: 100%;
    border: 0;
    }




/*===============================

Media Queries

=================================*/

@media screen and (min-width: 320px) {
   
    header {
        width:100%;
        height: 20%;  
    }
  
    .new-membership p{
        padding: 1em;
    }


/*--------About Page MQ 320px------------*/


/*--------Membership Page MQ 320px------------*/


/*--------Shop Page MQ 320px------------*/


}


@media screen and (min-width: 576px){

    .hero button {
        position: absolute;
        top: 110%;
        left: 37%;
        width: 37%;
        padding: 0.5em 0;
        border-radius: 0.5em;
    }

    .logo img {
        width: 40%;
    }

    h1 {
        text-align: center;
    }

    .new-student figcaption{
        text-align: center;
        font-size: 1.25em;
    }

    .new-membership p{
        font-size: 1.5em;
        padding: 2em; 
    }


/*--------About Page MQ 576px------------*/


/*--------Membership Page MQ 576px------------*/


.membership p {
    font-size: 1.5em;
    padding: 1.25em;
}

.membership button {
    font-size: 1.2em;
}

/*--------Shop Page MQ 576px------------*/

}


@media screen and (min-width: 768px){
    
    .logo img {
        width: 30%;
    }

    figure.logo{
        width: 70%;

    }

    #navright {
        width: 70%;
        line-height: 1.7em;
    }
    #hamitems {
        display: flex;
        float: right;
    }

    #hamitems li {
        flex-grow: 1;
        flex-basis: 0;
        padding: 2em;
        text-align: center;
    
    }

    #hamitems a {
        border-top:none;
        display: block;
        padding: .5em;
        margin: 30px 5px 5px 1px;
        
    }

    #navright label {
        display: none;
    }

    .hero img[alt="vertical spinning pottery"] {
        display: none;
    }

    .hero img[alt="spinning pottery"] {
        display: block;
    }

    .hero button {
        position: absolute;
        top: 62%;
        left: 44%;
        width: 23%;
        padding: 0.5em 0;
        border-radius: 0.5em;
    }
    
    .home aside {
        display: inline;
        width: 50%;
        float: left;
    }

    .home article {
        display: inline;
        width: 50%;
        float: right;
    }

    .new-membership p{
        font-size: 1em;
        padding: 1.25em; 
    }

    footer p {
        font-size: 1em;
    }


/*--------About Page MQ 768px------------*/


.owner,
.instructors,
.assistants {
    display: flex;
    flex-direction: reverse;
    align-items: center;
}

.about article {
    max-width: 50%;
    padding-right: 20px;
}

.about aside {  
    padding-left: 1.25em;
}

/*--------Membership Page MQ 768px------------*/


.member-list{
    display: flex;
    flex-flow:row;
    align-items: center;
    width: 100%;;
}

.membership img {
    width: 70%;
    padding: .5em;
}

.membership p{
    font-size: .75em;
}

.membership button {
    width: 45%;
    padding: 0.5em 0;
    margin: 1.75em;
    border-radius: 0.5em;
}

/*--------Shop Page MQ 768px------------*/

.shop-container{
    display: flex;
    flex-wrap: inherit;
}


.rslides li {
    width: 100%;
    padding: .5em;
}

.rslides p{
    font-size: 1em;
}

.rslides button {
    width: 45%;
    padding: 0.5em 0;
    margin: 1.75em;
    border-radius: 0.5em;
}


}


@media screen and (min-width: 992px)  {
   
    .hero button {
        top: 80%;
    }
  
    #hamitems a {
        font-size: 1.125em;
        margin: 3.125em .625em .625em .375em;
    }

    .home h1{
        font-size: 2em;
        padding: 1.25em;
    }
    }

    .new-student img {
        width: 85%;
        padding: 2.5em;
    }

    .new-membership p{
        font-size: 1.5em;
        padding: 1.25em; 
    }


/*--------About Page MQ 992px------------*/

    .about p{
        font-size: 1.3em;
    }
/*--------Membership Page MQ 992px------------*/


/*--------Shop Page MQ 992px------------*/

.shop-pot p{
    font-size: 1.25em;
}

}


@media screen and (min-width: 1200px){
   
    .hero button {
        top: 106%;
    }


/*--------About Page MQ 1200px------------*/

/*--------Membership Page MQ 1200px------------*/


/*--------Shop Page MQ 1200px------------*/


}



