/* CSS Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*==============================

Universal Styling and Header

=============================*/

main {
    display: flex;
}


p {
    padding: 10px;
    font-size: 1.125em;
    line height: 1.2;
    font-family: franklin-gothic-compressed, sans-serif;
    font-weight: 400;
    font-style: normal;
}


/*=================================

Header Styling

===============================*/

header {
    background: #000000;
    opacity: 80%;
    width: 100%;
    z-index: 100;
    height: 150px;
    
}

.logo {
    width: 50%;
    display: inline-block;
    text-align: center;
    padding: 20px 0;
}

header nav {
    width: 45%;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    position: relative;
   
}

header nav li {
    display: inline-block;
    padding: 20px 20px;
    font-family: proxima-nova, sans-serif;
    font-weight: 700;
    font-style: normal;

}

ul li a {
    text-decoration: none;
    color: #ffffff;
}

/*================================

Hero Styling

================================*/

img .hero {
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}

.hero {
    width: 100%;
    text-align: center; 
}




/*================================

Body Styling and Footer Styling

=================================*/

article figure {
    float: right;
    padding: 2px 25px;
    
}

article p{
    color:#000000;
}

section.left {
    width: 45%;
    padding: 20px 30px 20px 36px;
}

section.right {
    width: 45%;
    padding: 20px;
    background-color: #6E897E;
    opacity: 43%;
}

section.right h2 {
    font-weight: bold;
    font-size: 1.25em;
    
}

.pattern {
    text-align: center;
    width: 20%
    
}


section {
    display: inline-block;
}


/*==============================

Footer Styling

==============================*/

footer {
    background:#000000;
    opacity: 82%;
    padding: 80px;
    width: 100%;

}

footer p {
    color: white;
}


/*===============================

Media Queries

=================================*/

@media screen and (min-width: 320px) and (max-width: 525px) {

    main {
        display: block;
    }

    .container {
        width: 100%;
    
    }

    header {
        width:100%;
        height: 20%;
       
    }
    
    .logo {
        padding: 0;
        display: block;
        width: 40%;
    }

    .logo img{
        text-align:center;
    }

    header nav {
        display: inline-block;
        width: 100%;
    }
    
    header nav li{
        padding: 10px;
        font-size: 0.125em;
    }

    .hero-img{
        position: relative;
        background-size: contain;
        margin-top: 100px;

    }

    html,body{
        overflow-x: hidden;
    }
    section.left,
    section.right {
        width: 100%;
        display: block;
        padding: 0;
    }

    section.left img {
        width: 100%;
    }

    section.right h2, 
    section.right p {
        padding: 20px;
    }

    article p {
        padding: 30px;
    }
    
    footer p {
        font-size: .75em;
    }
    
}

/*==============================

Media Query 526px -766px

==============================*/

@media screen and (min-width: 526px) and (max-width: 766px) {

    main {
        display: block;
    }

    .container {
        width: 100%;
    
    }

    img {
        width: 100%;
        text-align: center;
    }

    header {
        width:100%;
 
    }
    
    .logo {
        display: inline-block;
        width: 20%;
    }

    header nav {
        display: inline-block;
        padding: .5em;
        width: 68%;
    
    }

    ul li a {
        font-size: 2em;
    }

    
    header nav li {
        position: relative;
        font-size: .125em;
    }

    .hero-img{
        position: relative;
        background-size: contain;
        margin-top: 100px;

    }
    html,body{
            overflow-x: hidden;
        }
    
    section.left,
    section.right {
        width: 100%;
        display: block;
        padding: 0;
    }

    section.left p {
        font-size: 1.5em;
        padding: 45px;
    }

    section.right h2, 
    section.right p {
        padding: 45px;
        font-size: 2em;
    }

    article p {
        padding: 30px;
    }
    
    footer p {
        font-size: 1.125em;
    }
    
    }

/*============================

Media Query 767px -991px

==============================*/

@media screen and (min-width: 767px) and (max-width: 991px) {
    img.logo {
        padding: 1.125em;
        width: 15%;
    }

    .logo {
        display: inline-block;
    }

    header nav {
        display: inline-block;
        padding: .5em;
        width: 60%;
    }

    ul li a {
        font-size: .7em;
    }

    section.left,
    section.right {
        width: 42%;
        display: inline-block;
        padding: auto;
    }

 html,body{
            overflow-x: hidden;
        }
    

}

/*============================

Media Query 992px -1199px

==============================*/

@media screen and (min-width: 992px) and (max-width: 1199px) {
    img.logo {
        padding: 1.125em;
        width: 12%;
    }

    .logo {
        display: inline-block;
    }

    header nav {
        display: inline-block;
        padding: .5em;
        
        width: 70%;
    
    }

    ul li a {
        font-size: 1em;
    }

    section.left,
    section.right {
        width: 42%;
        display: inline-block;
        padding: auto;
    }

 html,body{
            overflow-x: hidden;
        }
    

}


/*============================

Media Query 1200px -1699px

==============================*/

@media screen and (min-width: 1200px) and (max-width: 1699px) {
    img.logo {
        padding: 1em;
        width: 10%;
    }

    .logo {
        display: inline-block;
    }

    header nav {
        display: inline-block;
        padding: .5em;
        width: 75%;
    
    }

    ul li a {
        font-size: 1.125em;
    }

    section.left,
    section.right {
        width: 42%;
        display: inline-block;
        padding: auto;
        height: 25em;
    
    }

 html,body{
            overflow-x: hidden;
        }
    
}

/*============================

Media Query 1700px and up

==============================*/

@media screen and (min-width: 1700px) {
    img.logo {
        padding: 1em;
        width: 9%;
    }

    .logo {
        display: inline-block;
    }

    header nav {
        display: inline-block;
        padding: .5em;
        width: 80%;
    
    }

    ul li a {
        font-size: 1.125em;
    }

    section.left,
    section.right {
        width: 42%;
        display: inline-block;
        padding: auto;
        height: 30em;
    
    }

    section.left img {
        width: 50%;
        padding: 0;
    }

 html,body{
            overflow-x: hidden;
        }
    
}

/*=============================

About Us Styling

==============================*/


section.intro-about,
section.middle-about,
section.end-about {
    display: block;
    width: 30%;
}